body
{
   background-color: lightblue; 
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: darkslateblue;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: mediumpurple;
            color: white;
   }

        .opening
        {
            font: italic; 
            text-decoration: underline; 
            text-decoration-color:darkslateblue;
        }

        .Purpose 
        {
             float:left;
             color: darkslateblue;
             background-color: white;
             height: 300px;
             width: 35%;
             padding: 5%;
             border:dotted;
        }

        h3
        {
            text-decoration:underline; 
        }

        .Introduction 
        {
            float: left;
            color: white;
            background-color: darkslateblue;
            height: 300px;
            width: 35%;
            padding: 5%;
            border: dotted;
        }
        .Introduction h3
        {
            text-decoration:underline; 
        }
        .break {
            background-color: lightblue;
            height: 300px;
            float: left;
            width: 9.25%;
        }

        img
        {
            max-height: 100%;
            max-width: 100%; 
        }

        .education {
            color: darkslateblue;
            background-color: white;
            height: 175px;
            width: 100%;
            border: dotted;
        }

        .lead {
            color: white;
            background-color: darkslateblue;
            height: 175px;
            width: 100%;
            border: dotted;
        }
        .s {
            color: darkslateblue;
            background-color: white;
            height: 175px;
            width: 100%;
            border: dotted;
        }

        .hob{
            color: white;
            background-color: darkslateblue;
            height: 175px;
            width: 100%;
            border: dotted;
        }

        .hbreak {
            background-color: lightblue;
            height: 50px;
        }

.Tech {
    color: darkslateblue;
    background-color: white;
    height: 200px;
    width: 100%;
    border: dotted;
}
.Soft {
    color: white;
    background-color: darkslateblue;
    height: 200px;
    width: 100%;
    border: dotted;
}